.gazete-item{
    border-radius: 30px;
    overflow: hidden;
}
.gazete-item img{
    width: 100%;
    border: 1px solid #eee;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}